<a href="https://colab.research.google.com/github/mdsahilkhan2001/pw-assigment-python-datascience-course/blob/main/pw_assigment_python_datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Covert a integer to a floatig-poit number.
Answer: To convert an integer to a floating-point number in programming, you typically use a casting or conversion function provided by the language. Here are examples in a few common programming languages:**

In [1]:

integer_value = 42
floating_point_value = float(integer_value)
print(floating_point_value)

42.0

**2.Convert a float to an integer**

In [2]:
floating_point_value = 42.7
integer_value = int(floating_point_value)
print(integer_value)

42

In [3]:
floating_point_value = 99.99
integer_value = int(floating_point_value)
print(integer_value)

99

 **3.convert integer to a string**

In [4]:
integer_value = 123
string_value = str(integer_value)
print(string_value)
print(type(string_value))

123
<class 'str'>

**3. convert list to a tuple**

In [5]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)        # Output: (1, 2, 3, 4, 5)
print(type(my_tuple))  # Output: <class 'tuple'>

(1, 2, 3, 4, 5)
<class 'tuple'>

4.convert tuple to a list

In [6]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5]
<class 'list'>

**convert a decimal number to its binary**

In [7]:
 decimal_number = 42
binary_representation = bin(decimal_number)
print(binary_representation)

0b101010

**convert a non-zero number to a boolean**

In [9]:
number = 42
boolean_value = bool(number)
print(boolean_value)

True

In [8]:
zero_number = 0
boolean_value = bool(zero_number)
print(boolean_value)

False